body{
    background: url("../images/background7.jpg");
    background-size: 100%;
}

.header {
    padding: 1%;
    font-size: 60px;
    text-align: center;
    font-family: 'Dancing Script', cursive;
    color: white;
    font-weight: normal;
    background-image: url("../images/head-gif7.gif");
    background-size: 20%;
    background-repeat: no-repeat;
}

.instruction {
    margin: 1%;
    background: rgba(106, 170, 223, 0.1);
    color: white;
    padding: 2%;
    text-indent: 50px;
    font-size: 23px;
    font-family: 'Dancing Script', cursive;
}

.main-image {
    opacity: 1.0;
}

.score-board {
    margin: 1%;
    background: rgba(106, 170, 223, 0.5);
    color: white;
    padding: 2%;
    font-size: 30px;
    font-family: 'Dancing Script', cursive;
}

.crystals {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.crystal {
    border: 1px solid green;
    height: 190px;
    width: 265px;
}

img {
    opacity: 0.5;
    filter: alpha(opacity=50); 
}

img:hover {
    opacity: 1.0;
    filter: alpha(opacity=100); 
}
