body{
    background: url("../images/background7.jpg");
    background-size: 100%;
}

.header {
    padding: 1%;
    font-size: 60px;
    text-align: center;
    font-family: 'Dancing Script', cursive;
    color: white;
    font-weight: normal;
    /* background-image: url("../images/head-gif7.gif"); */
    background-position: center;
    /* word-spacing: 80px; */
    background-size: 20%;
    background-repeat: no-repeat;
    /* padding-left: 90px; */
}

.instruction {
    margin: 1%;
    background: rgba(106, 170, 223, 0.1);
    color: white;
    padding: 2%;
    text-indent: 50px;
    font-size: 23px;
    font-family: 'Dancing Script', cursive;
}

.main-image {
    opacity: 1.0;
}

.score-board {
    margin: 1%;
    background: rgba(106, 170, 223, 0.5);
    color: white;
    padding: 2%;
    font-size: 30px;
    font-family: 'Dancing Script', cursive;
}

.crystals {
    opacity: 0.5;
    filter: alpha(opacity=50); 
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.crystal {
    height: 190px;
    width: 265px;
}

.crystals:hover {
    opacity: 1.0;
    filter: alpha(opacity=100); 
}

#crystal-0 {
    background-image: url('../images/diamond1.gif');
    background-size: 100%;
}


#crystal-1 {
    background-image: url('../images/diamond2.gif');
    background-size: 100%;
}

#crystal-2 {
    background-image: url('../images/diamond3.gif');
    background-size: 100%;
}

#crystal-3 {
    background-image: url('../images/diamond4.gif');
    background-size: 100%;
}


